@model Academy.DataLayer.Entities.User.User
@{
    Layout = null;
}

<div style="direction:rtl;padding:20px">
    <h2 style="color:forestgreen">@Model.UserName عزیز!</h2>
    <p>جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:44340/Account/ResetPassword/@Model.ActiveCode" >فعالسازی حساب کاربری</a>
    </p>
</div>